/* THIS IS FOR THE LOADING PAGE */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2260ff;
    /* text-align: center; */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loading1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#loading1 h1,
#loading1 p {
    text-align: center;
    color: #fff;
    font-weight: 300px;
}

#points-div {
}
.points {
    font-weight: 400;
    color: #fff;
    padding-bottom: 20px;
}







/* 
#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#loading1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#loading-logo {
    max-width: 250px;
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
}

#loading1 h1,
#loading1 p {
    text-align: center;
    color: #fff;
    font-weight: 300px;
} */