aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
amqp==5.2.0
annotated-types==0.7.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
billiard==4.2.0
celery==5.4.0
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
crispy-bootstrap5==0.7
cron-descriptor==1.4.3
cryptography==41.0.6
cssselect==1.2.0
decorator==4.4.2
defusedxml==0.7.1
Django==4.2.7
django-admin==2.0.2
django-celery==3.1.17
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-crispy-forms==2.0
django-excel-response2==3.0.6
django-extensions==3.2.3
django-filter==23.2
django-guardian==2.4.0
django-six==1.0.5
django-sms==0.7.0
django-taggit==4.0.0
django-timezone-field==6.1.0
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
excel-base==1.0.4
exceptiongroup==1.2.1
frozenlist==1.4.1
future==1.0.0
huepy==1.2.1
idna==3.4
imageio==2.34.1
imageio-ffmpeg==0.5.1
importlib-metadata==6.8.0
iniconfig==2.0.0
isoweek==1.3.3
kombu==5.3.7
lxml==5.2.2
Markdown==3.4.3
mock==5.1.0
moviepy==1.0.3
multidict==6.0.5
ntplib==0.4.0
oauthlib==3.2.2
packaging==24.1
phonenumbers==8.13.39
pillow==10.3.0
pip==24.1
pluggy==1.5.0
proglog==0.1.10
prompt_toolkit==3.0.47
pycparser==2.21
pycryptodomex==3.20.0
pydantic==2.7.1
pydantic_core==2.18.2
PyJWT==2.7.0
pyotp==2.9.0
pyquery==2.0.0
PySocks==1.7.1
pytest==8.2.2
python-crontab==3.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2023.3
PyYAML==6.0.1
redis==5.0.6
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.25.3
schedule==1.2.2
screen==1.0.1
setuptools==78.1.1
six==1.16.0
social-auth-app-django==5.2.0
social-auth-core==4.4.2
sqlparse==0.4.4
TimeConvert==3.0.13
tomli==2.0.1
tqdm==4.66.4
twilio==9.2.2
typing_extensions==4.7.1
tzdata==2024.1
tzlocal==5.2
urllib3==2.0.7
vine==5.1.0
wcwidth==0.2.13
xlwt==1.3.0
yarl==1.9.4
zipp==3.15.0

