@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fefefeef;
    max-width: 100vw;
}

/* Message styling */
.messages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #d6ffcd;
    width: 100%;
    text-align: center;
    border-radius: 27px;
    margin-bottom: 15px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    min-width: 373px;
}


#hero {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    align-items: flex-end;
    /* width: 50rem; */
    height: 8rem;
    /* padding-top: 25px; */
    margin-bottom: 2rem;
}

#logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 75px;
    height: 75px;
}

#logo {
    height: 100%;
    width: 100%;
}

img {
    margin-left: 20px;
}

.form-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    text-align: center;
}

.form-element p {
    text-align: end;
}

.form-elements h2 {
    font-size: 30px;
}

.form-elements span {
    color: #0c81bb;
}

.home-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 450px;
    min-width: 375px;
    margin: 15px 0px;
    padding: 0px 10px;
    /* background-color: #0c81bb; */
}

.personal-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: #0c81bb;
    border: 1px solid #0c81bb;
    color: #fff;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2); */
    /* background-color: #3690d97a;
    border: 1px solid #0c81bb; */
    border-radius: 20px;
}

#wel-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 8px 5px 8px;
}

#icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px solid #fff;
    border-radius: 50%;
    color: #fff;
    margin-left: 3px;
}

#icon i {
    font-size: 45px;
}

#welcome-msg {
    padding-left: 8px;
}

#welcome-msg h1 {
    font-size: 1.5rem;
    padding-bottom: 6px;
}

#names {
    color: #fff;
    text-transform: capitalize;
    /* color: #0c81bb; */
}

.designation {
    margin-top: 0.5rem;
}

#designation {
    color: #062435;
    font-weight: 600;
}

#active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
    padding-left: 15px;
}

#active button {
    height: 30px;
    width: 75px;
    border: 1px solid #0c81bb;
    border-radius: 15px;
    color: rgb(2, 73, 19);
    background-color: rgb(154, 251, 178);
    /* background-color: rgb(154, 251, 178); */
}

#inner-nav {
    padding-top: 15px;
}

#inner-nav a {
    color: #ffa500;

}

#inner-nav a:hover {
    color: #d88d02;
    transition: 0.2s color ease-in;
}

.bio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    
    /* background-color: #3690d97a; */
    margin-top: 20px;
    border: none;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

#employer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-left: 11px;
}

#uid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#hospital-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px solid #0c81bb;
    border-radius: 50%;
    color: #0c81bb;
}

#user-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px solid #0c81bb;
    border-radius: 50%;
    color: #0c81bb;
}

i {
    font-size: 22px;
}

#parent {
    font-weight: 300;
    font-variant-caps: all-petite-caps;
}

#moniker {
    font-weight: 300;
    font-variant-caps: all-petite-caps;
}

#parent1 {
    margin-top: 0.5rem;
    font-weight: 600;
    color: #0c81bb;
}

#moniker1 {
    margin-top: 0.5rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #0c81bb;
}

.forms-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#succ-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    /* background-color: #d6ffcd; */
    text-align: center;
    border-radius: 27px;
}

#succ-msg .success-msg {
    color: #0ca04a;
}

#succ-msg .err-msg {
    color: #a52a2a;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 450px;
    min-width: 375px;
    margin: 15px 0px;
}

#field1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#field2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_user {
    margin-top: 10px;
    width: 35%;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: #0c81bb;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.search_user::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
    transition: all 0.5s ease;
    animation: slide 2s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.search_user:hover {
    cursor: pointer;
    background-color: #0a6a9a;
}

label {
    font-weight: 700;
    font-variant-caps: all-petite-caps;
    color: #0c81bb;
}

#insurance_number {
    border: 1px solid #0c81bb;
    border-radius: 6px;
    height: 25px;
    width: 150px;
    outline: none;
    color: #104862 !important;
    background-color: #3690d97a;
}

input#insurance_number {
    padding-left: 8px;
}

#id_insurance_name {
    border: 1px solid #0c81bb;
    border-radius: 6px;
    height: 25px;
    width: 150px;
    outline: none;
    text-align: center;
    background-color: #3690d97a;
    color: #056b9adc;
}


.table-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100rem;
    max-width: 450px;
    min-width: 375px;
    margin: 3rem 0px 2rem 0px;
    padding: 2px;
    /* background-color: rgba(12, 129, 187, 0.2);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(255, 255, 255, 0.3); */
    border: none;
    border-radius: 20px;
}

#profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(45, 133, 205, 0.2);
    border-radius: 18px;
    padding: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.3);
    color: #fff;
    position: relative;
    overflow: hidden;
}

#profile-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    mix-blend-mode: screen;
    border-radius: 18px;
    pointer-events: none;
}

#card-user {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 90%;
    padding: 4px;
}

lord-icon {
    width: 30px;
    max-width: 100%;
    height: 30px;
    /* --lord-icon-primary: #ffa500; */
}

#card-user h1 {
    /* font-weight: 700; */
    /* font-variant-caps: all-petite-caps; */
    font-size: 1rem;
    color: #fff;
}

#profile-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 8px;
    line-height: 1.5rem;
}

#tags h2 {
    font-size: 1.2rem;
    color: #0c81bb;
}

#prescription-link {
    display: flex;
    justify-content: flex-end;
    width: 89%;
    height: 100%;
    margin-top: 1rem;
}

#prescription-link a {
    text-decoration: none;
    color: #0ca04a;
    font-size: 1rem;
}

#prescription-link a:hover {
    color: #034d22;
    text-decoration: underline;
}

#details {
    margin-left: 10px
}

.detail1 {
    /* font-weight: 800; */
    font-variant-caps: normal;
    color: #062435;
}

footer {
    margin-top: 70px;
    text-align: center;
}


@media (max-width: 480px) {
    .table-div {
        width: 10rem;
        min-width: 350px;
        /* max-width: 450px;
        min-width: 10px; */
    }
}




/* th {
    font-weight: 600;
    font-variant-caps: all-petite-caps;
    color: #0c81bb;
}

#table-div {
    margin: 30px 10px;
}

#table-div h1 {
    padding-bottom: 7px;
    color: #056b9adc;
} */

/* table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
}

tbody td {
    padding: 10px;
    border-top: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
} */