@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fefefeef;
}

.Error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a52a2a;
    text-align: center;
    margin-bottom: 2rem;
}

.Error p {
    width: 80%;
}

.Success {
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    color: #0ca04a;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 15px;
}

#logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 130px;
    height: 130px;
}

#logo {
    height: 100%;
    width: 100%;
}

.form-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 45px;
    line-height: 35px;
    text-align: center;
}

.form-element p {
    text-align: end;
}

.form-elements h2 {
    font-size: 30px;
}

.form-elements span {
    color: #0c81bb;
}

.form-elements1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-wrap: wrap;
}

#div_id_username_or_email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 15px;
    line-height: 8px;
}

#div_id_password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 25px;
    line-height: 8px;
}

.mb-3 {
    padding-right: 10px;
}

.form-label {
    font-size: 16px;
    font-weight: bold;
    color: #0c81bb;
}

span.asteriskField {
    color: red;
}

input {
    background: #3690d97a;
    width: 100%;
    height: 40px;
    font-size: 1.5rem;
    border: 1px solid #0c81bb;
    border-radius: 10px;
    outline: none;
    margin-top: 7px;
    padding: 1px 8px;
}

.form-control {
    width: 100%;
}

#forgot-password {
    padding-top: 8px;
    padding-right: 10px;
}

#forgot-password a {
    text-decoration: none;
    color: black;
}

#forgot-password a:hover {
    text-decoration: underline;
    color: #c07d02;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

#signin_custom {
    /* padding: 0.9rem 2rem; */
    height: 44px;
    width: 170px;
    font-size: 1.5rem;
    border-radius: 9px;
    border: none;
    color: #fff;
    background-color: #0c81bb;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#signin_custom::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
    transition: all 0.5s ease;
    animation: slide 2s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

#sigin_custom:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Message styling */
.messages {
    height: 80px;
    background-color: #d6ffcd;
    width: 100%;
    text-align: center;
    border-radius: 27px;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}