@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    /* background-color: #0c81bb; */
}

.form-container {
    min-width: 50%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 80%;
    height: 100%;
    gap: 1rem;
}

.reset-error {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #a52a2a;
    margin-bottom: 2rem;
}


form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-header {
    color: #0c81bb;
    font-size: 1.5rem;
}

.form-input form input {
    width: 90%;
    margin: 0.5rem 0;
    padding: 0.4rem 0;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.862);
    outline: 0;
    border: none;
    border-bottom: 1px solid #5858583c;
    transition: border-color 0.3s ease-in-out;
}

.form-input form input:focus {
    border-bottom: 1px solid #0c81bb;
}

.form-input-btn {
    margin: 0rem 0;
}

.form-input-btn .submit-btn {
    position: relative;
    overflow: hidden;
    padding: 0.9rem 2rem;
    width: 90%;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.3rem;
    color: #ffffff;
    background-color: #0c81bb;
}

.form-input-btn .submit-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
    transition: all 0.5s ease;
    animation: slide 2s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.form-input-btn .submit-btn:hover {
    cursor: pointer;
    background-color: #086fa2;
}

.back-link-btn {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.back-link-btn a {
    text-decoration: none;
    color: #ffa500;
    font-size: 1.2rem;
}

.back-link-btn a:hover {
    text-decoration: underline;
    color: #c07d02;
}


@media (max-width: 480px) {
    .reset-error {
        gap: 12px;
    }

    .form-header {
        font-size: 1.3rem;
    }

    .form-input form input {
        font-size: 1rem;
    }

    .form-input-btn .submit-btn {
        font-size: 1rem;
    }

    .back-link-btn a {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .form-container {
        min-width: 90%;
    }
}