@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    /* background-color: #0c81bb; */
}

main {
    max-width: 700px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #3690d97a;
    /* backdrop-filter: blur(10px);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px; */
    overflow: hidden;
}

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 100vw;
    min-height: 60vh;
    background: rgb(255, 255, 255);
    /* backdrop-filter: blur(10px);
    border-top-right-radius: 40%; */
    padding: 2rem 0;

}

.main-form .logo-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 3rem; */
    margin-bottom: 1rem;
}

.main-form .logo-image img {
    width: 4rem;
    height: 4rem;
}

.main-form .logo-image p {
    color: #0d81bc;
    font-size: 1.2rem;
}

.logo-notification {
    margin: 3rem 0 3rem 0;
    color: #0ca04a;
}

.switch-buttons {
    height: 44px;
    /* margin: -10px auto 40px auto; */
    border-radius: 9px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #36373B;
    position: relative;
}

.switch-buttons__item {
    width: 170px;
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.slider {
    height: 36px;
    width: 165px;
    border-radius: 5px;
    background-color: #0c81bb;
    position: absolute;
    top: 10px;
    left: 16px;
    transition: all 0.3s ease-in-out;
}

.move-slider1 {
    left: 171px;
    top: 4px;
}

.move-slider {
    left: 4px;
    top: 4px;
}

.main-form-btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 10rem;
}

.forms-div {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 50rem;
    align-items: center;
}

.forms-div .success-form-msg,
.forms-div .error-form-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    text-align: center;
}

.forms-div .lord-icon-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    gap: 10px;
}

.forms-div .lord-icon-msg p {
    font-size: 1.5rem;
}

lord-icon {
    width: 50px;
    max-width: 100%;
    height: 50px;
}

.forms-div .success-search-msg,
.forms-div .error-search-msg {
    font-size: 1.2rem;
}

.forms-div .inner-success-text,
.forms-div .inner-error-text {
    color: #0c81bb;
}

.main-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
}

.form-group {
    min-width: 20rem;
}

/* .main-form .logo-image {
    margin-top: 3rem;
    animation: fadeInDown 1s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-form .main-para {
    margin-top: 1rem;
    font-size: 1.1rem;
    animation: fadeIn 1s ease-in-out;
} */

.main-form .form-group label,
.main-form .form-group input {
    display: block;
}

.main-form .form-group {
    margin-bottom: 2rem;
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-form form .msg {
    margin: 3rem 0;
    animation: fadeIn 1s ease-in-out;
}

.main-form form .error-msg {
    color: #e50914;
}

.main-form form .success-msg {
    color: #0ca04a;
}

.main-form .form-group label {
    font-size: 1.2rem;
}

.main-form .form-group input {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 0.3rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.862);
    outline: 0;
    border-radius: 0.3rem;
    /* border: none; */
    border: 1px solid #5858583c;
    transition: border-color 0.3s ease-in-out;
}

.main-form .form-group input:hover {
    border: 1px solid #0c81bb;
}

.main-form .form-group input:focus {
    border: 1px solid #0c81bb;
}

.main-form .form-group select {
    width: 100%;
    margin-top: 1rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: #0c81bb;
    /* background-color: #36373bde; */
    font-size: 1rem;
    padding: 0.5rem 0.3rem;
    color: #ffffff;
}

.main-form .form-group select:focus {
    background-color: #36373B;
    opacity: 0.9;
}

/* .no-focus input {
    pointer-events: none;
} */

.main-form .form-group textarea {
    width: 92%;
    max-width: 92%;
    min-width: 92%;
    box-sizing: border-box;
    height: auto;
    min-height: 100px;
    margin-top: 1.5rem;
    padding: 10px;
    font-size: 1rem;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.main-form .form-group textarea:focus {
    border-color: #0c81bb;
}

.main-form form .btn {
    display: flex;
    justify-content: center;
    width: 92%;
    margin-top: 1.5rem;
}

.btn .submit-btn {
    padding: 0.9rem 2rem;
    height: 44px;
    width: 170px;
    font-size: 1rem;
    border-radius: 9px;
    border: none;
    color: #fff;
    background-color: #0c81bb;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
}

.btn .submit-btn i {
    padding-left: 0.5rem;
}

.btn .submit-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
    transition: all 0.5s ease;
    animation: slide 2s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.btn .submit-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Home btn */
.btn {
    margin-top: 2rem;
}

.btn .home-btn {
    padding: 0.5rem 2rem;
    width: fit-content;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: none;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.btn .home-btn {
    position: relative;
    overflow: hidden;
    width: fit-content;
    margin-bottom: 4rem;
    background-color: #a52a2a;
    transition: background-color 0.3s ease-in-out;
}

.btn .home-btn a {
    text-decoration: none;
    color: #fff;
    position: relative;
    z-index: 2;
}

.btn .home-btn i {
    color: #fff;
    padding-right: 0.2rem;
}

.btn .home-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
    transition: all 0.5s ease;
    animation: slide 2s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.btn .home-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}



@media (max-width: 480px) {
    .forms-div .lord-icon-msg {
        flex-direction: column;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .forms-div .lord-icon-msg p {
        font-size: 1.2rem;
    }

    lord-icon {
        width: 70px;
        height: 70px;
    }

    .forms-div .success-search-msg,
    .forms-div .error-search-msg {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .main-form form .btn {
        flex-direction: column;
    }

    .btn .submit-btn,
    .btn .home-btn {
        width: 100%;
        border-radius: 3rem;
        margin-bottom: 1.1rem;
    }

    .btn .home-btn {
        margin-bottom: 4rem;
    }
}