<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Forgot Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './styles/custom_password_reset_form.css' %}" type="text/css">
    <link rel="icon" type="image/png" href="{% static './images/logo_placeholder.png' %}">
</head>

<body>
    <div class="form-container">
        <div class="main-form">
            <div class="form-header">
                <h2>Forgot Password</h2>
            </div>
            {% if custom_password_reset_form.errors %}
            <div>
                <p>The email address is not properly written :(</p>
            </div>
            {% endif %}
            <div class="form-input">
                {% load crispy_forms_tags %}
                <form method="post" action="">
                    {% csrf_token %}
                    <p style="display: none;">
                        {{ custom_password_reset_form.email.label_tag }}
                    </p>
                    <p>
                        {{ custom_password_reset_form.email }}
                    </p>
                    <p>
                        <label style="display: none;" for="custom_password_reset_submit"></label>
                        <input style="display: none;" id="custom_password_reset_submit" type="submit"
                            name="custom_password_reset_submit" value="custom_password">
                    </p>
                    <p class="form-input-btn">
                        <button id="submit_custom_password_reset" type="button" class="submit-btn">Send Reset Email</button>
                    </p>
                </form>

                <div class="back-link-btn">
                    <p>
                        <a href="{% url 'prescription:custom_login' %}" class="back-link">
                            Back to Login
                        </a>
                    </p>
                </div>
            </div>
    
        </div>
    </div>

</body>
<script>
    const CustomButton = document.querySelector("#submit_custom_password_reset");
    const CustomSubmit = document.querySelector("#custom_password_reset_submit");
    CustomSubmit.addEventListener("click", () => {
        console.log("submitting email confirmation for custom password reset");
    });
    CustomButton.addEventListener("click", () => {
        CustomSubmit.click();
    });
</script>
</div>
</body>

</html>