<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Password Reset Successful</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static './images/logo_placeholder.png' %}">
    <link rel="stylesheet" href="{% static './styles/custom_reset_done.css' %}" type="text/css">
</head>

<body>
    <section class="form-container">
        <div class="main-form">
            <h1>Password reset successful!</h1>
            <div class="back-link-btn">
                <p>
                    <a href="{% url 'prescription:custom_login' %}" class="back-link">
                        Back to Login
                    </a>
                </p>
            </div>
        </div>
    </section>
</body>

</html>