<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Health Practitioner Page</title>
    <meta charset="utf-8">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static './images/loading1.png' %}">
    <link rel="stylesheet" href="{% static './styles/custom_home.css' %}">
    <script src="https://kit.fontawesome.com/95cc5340fb.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'prescription_ongo/messages.html' %}
    <main>
        <div class="personal-info">
            <div id="wel-icon">
                <div id="icon">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div id="welcome-msg">
                    <h1>Hi, welcome back!</h1>
                    <p><span id="names">{{ custom_logged_user.first_name }} {{ custom_logged_user.last_name }}</span>
                    </p>
                    <p><span id="designation">{{ custom_logged_user.designation }}</span></p>
                </div>
            </div>
            <div id="active">
                {% if custom_logged_user.is_authenticated %}
                <button>Active</button>
                {% endif %}
            </div>
        </div>

        <div class="bio">
            <div id="employer">
                <div id="hospital-icon">
                    <i class="fa-solid fa-hospital"></i>
                </div>
                <div id="hospital-text">
                    <p><span id="parent">Parent Organization</span><br><span id="parent1">{{ custom_logged_user.medical_institution }}</span></p>
                </div>
            </div>
            <div id="uid">
                <div id="user-icon">
                    <i class="fa-solid fa-user-doctor"></i>
                </div>
                <div id="user-text">
                    <p><span id="moniker">Username</span><br> <span id="moniker1">{{ custom_logged_user.username }}</span></p>
                </div>
            </div>
        </div>

        <div class="navbars">
            <div id="inner-nav">
                <a href="{% url 'prescription:prescribe' %}"><i class="fa-solid fa-capsules"></i></a>
            </div>
            <div id="inner-nav">
                <a href="{% url 'prescription:change_prescribe' %}"><i class="fa-solid fa-prescription-bottle"></i></a>
            </div>
            <div id="inner-nav">
                <a href="{% url 'prescription:custom_logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
        </div>

        <!-- <div class="main-div">
                <p class="Practitioner">Hello, {{ custom_logged_user.designation }} <span id="names">{{ custom_logged_user.first_name }} {{ custom_logged_user.last_name }}</span>, welcome to <span id="callout">Life Prescriber™</span></p>
                <span id="motto">...helping you ensure effective treatment!</span>
                <h2>What would you like to do today?</h2>
            </div> -->
    </main>
</body>

</html>