<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Life Prescriber Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './styles/custom_home.css' %}">
    <link rel="icon" type="image/png" href="{% static './images/logo_placeholder.png' %}">
    <script src="https://kit.fontawesome.com/95cc5340fb.js" crossorigin="anonymous"></script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
</head>

<body>
    {% include 'prescription_ongo/messages.html' %}
    <main>
        <div id="hero">
            <div id="logo-div">
                <img src="{% static '/images/logo_placeholder.png' %}" alt="logo" id="logo">
            </div>
            <div class="form-elements">
                <h2><span>Life Prescriber™</span></h2>
                <p><span>...your medication on the go!</span></p>
            </div>
        </div>
        <div class="home-container">
            <div class="personal-info">
                <div id="wel-icon">
                    <div id="icon">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div id="welcome-msg">
                        <h1>Hi, welcome back!</h1>
                        <p><span id="names">{{custom_logged_user.first_name}} {{custom_logged_user.last_name}}</span>
                        </p>
                        <p class="designation"><span id="designation">{{custom_logged_user.designation}}</span></p>
                    </div>
                </div>
                <div id="active">
                    {% if custom_logged_user.is_authenticated %}
                    <button>Active</button>
                    {% endif %}
                    <div id="inner-nav">
                        <a href="{% url 'prescription:custom_logout' %}"><i
                                class="fa-solid fa-right-from-bracket"></i></a>
                    </div>
                </div>
            </div>
            <div class="bio">
                <div id="employer">
                    <div id="hospital-icon">
                        <i class="fa-solid fa-hospital"></i>
                    </div>
                    <div id="hospital-text">
                        <p><span id="parent">Organization</span></p>
                        <p id="parent1">{{custom_logged_user.medical_institution }}</span>
                                
                    </div>
                </div>
                <div id="uid">
                    <div id="user-icon">
                        <i class="fa-solid fa-user-doctor"></i>
                    </div>
                    <div id="user-text">
                        <p><span id="moniker">Username</span></p>
                        <p id="moniker1">{{custom_logged_user.username}}</span></p>
                                
                    </div>
                </div>
            </div>
        </div>
        <div class="forms-div">
            {% if success_msg or error_msg %}
            <div id="succ-msg">
                {% if success_msg %}
                <p aria-live="assertive" class="msg success-msg">{{ success_msg }}</p>
                {% endif %}
                {% if error_msg %}
                <p aria-live="assertive" class="msg err-msg">{{ error_msg }}</p>
                {% endif %}
            </div>
            {% endif %}
            <form action="{% url 'prescription:secret_search_patient' %}" method="post">
                {% csrf_token %}
                <div id="form-fields">
                    <div id="field1">
                        <div>
                            {{ insurance_form.insurance_name.label_tag }}
                        </div>
                        <div>
                            {{ insurance_form.insurance_name }}
                        </div>
                    </div>
                    <div id="field2">
                        <div>
                            <label for="insurance_number">
                                Insurance Number:
                            </label>
                        </div>
                        <div>
                            <input type="text" name="insurance_number" id="insurance_number"
                                value="{{ err_insurance_number }}" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="search_user">
                    Search User
                </button>
            </form>
            {% if success_msg %}
            <div class="table-div">
                <div id="profile-card">
                    <div id="card-user">
                        <lord-icon src="https://cdn.lordicon.com/fmasbomy.json" trigger="loop"
                        delay="2000" stroke="light"
                            state="hover-looking-around">
                        </lord-icon>
                        <!-- <h1>{{ patient.username }}</h1> -->
                    </div>
                    <div id="profile-info">
                        <div id="shorts">
                            <div id="tags">
                                <h2>Name:</h2>
                            </div>
                            <div id="tags">
                                <h2>Insurance ID:</h2>
                            </div>
                            <div id="tags">
                                <h2>E-mail:</h2>
                            </div>
                        </div>
                        <div id="details">
                            <div class="detail1">
                                {{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}
                            </div>
                            <div class="detail1">
                                {{ patient.insurance_id }}
                            </div>
                            <div class="detail1">
                                {{ patient.email }}
                            </div>
                        </div>
                    </div>
                    <div id="prescription-link">
                        <a href="{% url 'prescription:user_prescription' patient.id %}">View Prescriptions</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </main>
    <script>
        const searchButton = document.querySelector(".search_user");
        searchButton.addEventListener("mouseenter", () => {
            const successElement = document.querySelector(".msg");
            if (successElement) {
                successElement.textContent = "";
            }
        });
    </script>
</body>

</html>