<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Sign Up</title>
    <link rel="stylesheet" href="{% static './styles/registerusers.css' %}" type="text/css">
    <link rel="icon" type="image/png" href="{% static './images/logo_placeholder.png' %}">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="https://kit.fontawesome.com/95cc5340fb.js" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <div class="main-form">
            <div class="main-form-btn">
                <div class="logo-image">
                    <img src="{% static './images/logo_placeholder.png' %}" alt="life_prescriber">
                    <p>Life Prescriber™</p>
                    {% if first_get_request %}
                    <div class="logo-notification">
                        Search or Register Patient
                    </div>
                    {% endif %}
                </div>
                <div class="switch-buttons">
                    <div class="slider {% if search_user %}move-slider{% else %}move-slider1{% endif %}"
                        id="slider-button">

                    </div>
                    <button class="switch-buttons__item" id="sign-in-switch" type="button"
                        data-url="{% url 'prescription:secret_search' secret_search %}">Search</button>
                    <button class="switch-buttons__item" id="register-switch" type="button"
                        data-url="{% url 'prescription:secret_signup' secret_signup %}">Register</button>
                </div>
            </div>

            <div class="forms-div">
                {% if search_user %}
                {% if success_msg %}
                <div class="success-form-msg">
                    <div class="lord-icon-msg">
                        <lord-icon src="https://cdn.lordicon.com/guqkthkk.json" trigger="in">
                        </lord-icon>
                        <p>{{success_msg}}</p>
                    </div>
                    <p class="success-search-msg">Click the <span class="inner-success-text">"Search"</span> button to
                        display form</p>
                </div>
                {% endif %}
                {% if error_msg %}
                <div class="error-form-msg">
                    <div class="lord-icon-msg">
                        <lord-icon src="https://cdn.lordicon.com/jxzkkoed.json" trigger="in" stroke="light">
                        </lord-icon>
                        <p>{{error_msg}}</p>
                    </div>
                    <p class="error-search-msg">Click the <span class="inner-error-text">"Search"</span> button to
                        display form</p>
                </div>
                {% endif %}
                {% if success_msg or error_msg %}
                    <div class="btn">
                        <button type="button" class="home-btn">
                            <a href="{% url 'prescription:general_home' %}" style="text-decoration: none;"><i
                                    class="fa-solid fa-circle-chevron-left"></i> Back</a>
                        </button>
                    </div>
                {% endif %}
                {% if not msg %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div>
                        <div class="form-group">
                            {{insurance_form.insurance_name.label_tag}}
                            {{insurance_form.insurance_name}}
                        </div>
                        <div class="form-group">
                            <label for="insurance_number">
                                Insurance Number
                            </label>
                            <input type="text" name="insurance_number" id="insurance_number" required>
                        </div>
                    </div>
                    <div class="btn">
                        <div>
                            <button type="submit" class="submit-btn">Search<i
                                    class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                    <!-- <button type="submit">
                        Search User
                    </button> -->
                </form>
                {% endif %}
                {% endif %}
                {% if register_user %}
                {% if sign_error_msg %}
                <div class="error-form-msg">
                    <div class="lord-icon-msg">
                        <lord-icon src="https://cdn.lordicon.com/jxzkkoed.json" trigger="in" stroke="light">
                        </lord-icon>
                        <p>{{sign_error_msg}}</p>
                    </div>
                    <p class="error-search-msg">Click the <span class="inner-error-text">"Register"</span> button to
                        display form</p>
                </div>
                {% endif %}
                {% if sign_success_msg %}
                <div class="success-form-msg">
                    <div class="lord-icon-msg">
                        <lord-icon src="https://cdn.lordicon.com/guqkthkk.json" trigger="in">
                        </lord-icon>
                        <p>{{sign_success_msg}}</p>
                    </div>
                    <p class="success-search-msg">Click the <span class="inner-success-text">"Register"</span> button to
                        display form</p>
                </div>
                {% endif %}
                {% if sign_success_msg or sign_error_msg %}
                    <div class="btn">
                        <button type="button" class="home-btn">
                            <a href="{% url 'prescription:general_home' %}" style="text-decoration: none;"><i
                                    class="fa-solid fa-circle-chevron-left"></i> Back</a>
                        </button>
                    </div>
                {% endif %}
                {% if not sign_msg %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div>
                        <div class="form-group">
                            {{user_form.first_name.label_tag}}
                            {{user_form.first_name}}
                        </div>
                        <div class="form-group">
                            {{user_form.middle_name.label_tag}}
                            {{user_form.middle_name}}
                        </div>
                        <div class="form-group">
                            {{user_form.last_name.label_tag}}
                            {{user_form.last_name}}
                        </div>
                        <div class="form-group">
                            {{user_form.username.label_tag}}
                            {{user_form.username}}
                        </div>
                        <div class="form-group">
                            {{user_form.email.label_tag}}
                            {{user_form.email}}
                        </div>
                        <div class="form-group">
                            {{insurance_form.insurance_name.label_tag}}
                            {{insurance_form.insurance_name}}
                        </div>
                        <div class="form-group">
                            {{user_form.insurance_id.label_tag}}
                            {{user_form.insurance_id}}
                        </div>
                    </div>
                    <div class="btn">
                        <div>
                            <button type="submit" class="submit-btn">Register<i
                                    class="fa-solid fa-location-arrow"></i></button>
                        </div>
                    </div>
                    <!-- <button type="submit">
                        Register User
                    </button> -->
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </main>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const slider = document.querySelector(".slider");
        const signInButton = document.getElementById("sign-in-switch");
        const registerButton = document.getElementById("register-switch");

        signInButton.addEventListener("click", function () {
            slider.style.left = signInButton.offsetLeft + "5px";
            setTimeout(() => {
                window.location.href = signInButton.getAttribute('data-url');
            }, 400)
        });

        registerButton.addEventListener("click", function () {
            slider.style.left = registerButton.offsetLeft + "px";
            setTimeout(() => {
                window.location.href = registerButton.getAttribute('data-url')
            }, 400);
        });

    });
</script>

</html>