<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './styles/user_prescription.css' %}">
    <script src="https://kit.fontawesome.com/95cc5340fb.js" crossorigin="anonymous"></script>
</head>

<body>
    {% if patient and all_prescriptions %}
    <div class="container">
        <div class="header">
            <div class="name-header">
                <h1>{{ patient_first_name }} {{ patient_last_name }}</h1>
            </div>
            <div class="new-prescription-header">
                <h2><span class="prescription-text">Prescriptions</span></h2>
                <div class="box">
                    <button type="button" id="search-button"
                        data-url="{% url 'prescription:user_prescription' patient.id %}">
                        <i class="fa-solid fa-magnifying-glass icon"></i>
                    </button>
                    <label style="display: none;" for="search-box"></label>
                    <input type="text" name="drug-search" id="search-box"
                        placeholder="search">
                </div>
                <button class="new-prescription-btn">
                    <a href="{% url 'prescription:new_prescribe' patient.id %}">Add New<i
                            class="fa-solid fa-plus"></i></a>
                </button>
            </div>
        </div>
        <div class="prescriptions">
            <!-- Iterate over your prescriptions queryset here -->
            {% for prescription in all_prescriptions %}
            <div class="prescription-card">
                <!-- <h2>{{ prescription.prescribed_user.first_name }} {{ prescription.prescribed_user.last_name }}</h2> -->
                <div class="details">
                    <div class="details-start-date">
                        <p>{{ prescription.start_time|date:"d" }}</p>
                        <p>{{ prescription.start_time|date:"M" }}</p>
                        <p>{{ prescription.start_time|date:"g:i A" }}</p>
                    </div>

                    <div class="details-tablet">
                        <div class="drug-name">
                            <p>{{ prescription.drug_name }}</p>
                        </div>

                        <div class="drug-time">
                            <div class="drug-reminder-time">
                                <img src="{% static './images/reminder.png' %}" alt="reminder">
                                <p>{{ prescription.prescribe_time }}</p>
                            </div>

                            <div class="drug-use-time">
                                <p><i class="fa-solid fa-clock"></i> {{ prescription.first_time }}</p>
                            </div>
                        </div>

                        <div class="drug-end-date">
                            <p><span class="inner-text">End Date: </span>{{ prescription.recent_proposed_date|date:"d"}}
                            </p>
                            <p>{{ prescription.recent_proposed_date|date:"F" }}</p>
                        </div>

                        <div class="drug-total-tablets">
                            <div class="total-pill-tablets">
                                <p><span class="inner-text">Total Tablet: </span>{{ prescription.total_tablets }}</p>
                            </div>
                            <div class="total-tablets-left">
                                <img src="{% static './images/tablets.png' %}" alt="total_tablets">
                                <p>{{ prescription.total_tablets_dynamic }}</p>
                            </div>
                        </div>

                        <div class="drugs-per-use">
                            <p><span class="inner-text">Per Day: </span>{{ prescription.no_of_times_per_day }}</p>
                            <p><span class="inner-text">Per Use: </span>{{ prescription.no_of_tablets_per_use }}</p>
                        </div>
                        <!-- <p><strong>Start Time Date:</strong> {{ prescription.start_time }}</p> -->

                        <!-- <p><strong>Initial Proposed Date:</strong> {{ prescription.initial_proposed_date }}</p> -->
                    </div>

                </div>
                <div class="actions">
                    {% if prescription.total_tablets_dynamic == 0 %}
                    <a href="{% url 'prescription:prescribe' prescription.id %}" class="edit-btn"><i
                            class="fa-solid fa-pen-to-square"></i></a> <!--Make new prescription (from old) -->
                    {% else %}
                    <a href="{% url 'prescription:change_prescribe' prescription.id %}" class="edit-btn"><i
                            class="fa-solid fa-pen-to-square"></i></a> <!--Change Old prescription (from
                    old) -->
                    {% endif %}
                    <!-- <button class="edit-btn">Edit</button> -->
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="btn">
            <button type="button" class="home-btn">
                <a href="{% url 'prescription:custom_home' %}" style="text-decoration: none;"><i
                        class="fa-solid fa-circle-chevron-left"></i> Back Home</a>
            </button>
        </div>
    </div>
    {% elif patient and not all_prescriptions %}
    <div class="not-found">
        <p>No Prescription(s) found for this user</p>
        <button class="new-prescription-btn">
            <a href="{% url 'prescription:new_prescribe' patient.id %}">Add New<i class="fa-solid fa-plus"></i></a>
        </button>
    </div>
    {% else %}
    <div class="btn not-found">
        <p>Patient not found!</p>
        <button type="button" class="home-btn">
            <a href="{% url 'prescription:custom_home' %}" style="text-decoration: none;"><i
                    class="fa-solid fa-circle-chevron-left"></i> Go Home</a>
        </button>
    </div>
    {% endif %}
</body>
<script>
    const searchButton = document.querySelector("#search-button");
    searchButton.addEventListener("click", (eventObject) => {
        const dataUrl = eventObject.currentTarget.getAttribute("data-url");
        const searchBox = document.querySelector("#search-box");
        const searchQuery = searchBox.value;
        const searchDataUrl = `${dataUrl}?search=${searchQuery}`;
        window.location.href = searchDataUrl;
    })
</script>

</html>